<%= render @comments %>

<div class="jumbotron">
  <div class="container">
    <h3>Join the discussion</h3>
    <p>Click the button below to start a new thread:</p>
    <p>
      <%= link_to 'Add new topic', new_post_comment_path(@post), :remote => true, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>