<h2>All Posts matching '<%= @search.term %>'
  <div style='float:right'><%= link_to 'Show all posts', posts_path, :class => 'btn btn-default' %></div>
</h2>

<%= paginate @search.posts %>

<table class="table table-striped table-hover table-condensed table-nonfluid">
  <tbody>
  <%= render @search.posts %>
  </tbody>
</table>
