<h2>All Posts</h2>

<%= paginate @posts %>

<ul>
<% @posts.each do |post| %>
		<li><%= link_to post.title, post_path(post) %> by <%= post.artist %></li>
<% end %>
</ul>

<%= link_to 'Submit new post', new_post_path %>