/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/glyphicons-halflings-regular.woff') format('woff'), url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  background:
    url(asset-path('background.png'));
}

td.column1, td.column2 {
  width: 3%;
  text-align: right;
}

div.vote_number {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
}

.css1 {
  font-size: 1.0em;
}

.css2 {
  font-size: 1.2em;
}

.css3 {
  font-size: 1.4em;
}

.css4 {
  font-size: 1.6em;
}

/* Bootstrap overrides */

form.navbar-form.navbar-right {
  padding-right: 0px;
  margin-top: 12px;
}