#post_rating {
  float: right;
  width: 100px;
}
#user_star {
  display: block;
}

@media (max-width: 530px) {
  #post_rating {
    float: left;
    width: 500px;
  }

  #star {
    margin-right: 10px;
  }

  #user_star {
    display: inline;
  }
}

.post-date, .new-post {
  padding: 2px 4px 0px 4px;
  background-color: #e31048;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  min-width: 55px;
  text-align: center;
}

.new-post {
  padding: 2px 10px 0px 10px
}

.embedded-music-player {
  float:left;
  margin-bottom: 15px;
  border: solid 1px;
  box-shadow: 6px 6px 5px #888888;
  background-color: ghostwhite;
}

/* Bootstrap overrides */

.table tbody>tr>td.vert-align {
  vertical-align: middle;
}